<%- include('./header.ejs')%>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 ml-2">
      <div class="card" style="width: 18rem">
        <center>
          <img
            src="<%= i.url %>"
            class="card-img-top rounded-circle w-50"
            alt="Proflie"
          />
        </center>
        <form action="" method="post">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <input
                value="<%= n %>"
                type="text"
                name="n"
                class="form-control"
              />
            </li>

            <!-- <li class="list-group-item"><input value="" type="email" name="email" class="form-control"></li>-->
          </ul>
        </form>

        <div class="card-body flex">
          <button
            type="button"
            class="btn text-info"
            data-bs-toggle="modal"
            data-bs-target="#btech"
          >
            Update profile
          </button>
          <button
            type="button"
            class="btn text-info"
            data-bs-toggle="modal"
            data-bs-target="#changepassword"
          >
            Update password
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<!-- model btech  -->
<div
  class="modal fade"
  id="btech"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="/updateProfile"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label>Name</label>
            <input
              type="text"
              value="<%= n %>"
              name="name"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label>Email</label>
            <input
              type="email"
              value="<%= e %>"
              name="email"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label>image </label>
            <input type="file" name="image" class="form-control w-50 h-50" />
            <img src="<%= i.url %>" alt="" class="h-50 w-50" />
          </div>

          <div class="mb-3">
            <label>Course</label>
            <input
              type="text"
              name="course"
              value="btech"
              readonly
              class="form-control"
            />
          </div>
          <button type="submit" class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Change Password -->
<div
  class="modal fade"
  id="changepassword"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/changepassword" method="post">
          <div class="mb-3">
            <label for="">Old Password</label>
            <input type="text" name="op" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="">New Password</label>
            <input type="text" name="np" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="">Confirm Password</label>
            <input type="text" name="cp" class="form-control" />
          </div>
          <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- modal Change Password end -->

<%- include('./footer.ejs')%>
